<%= render("layouts/todos") %>	

<script type="text/javascript">
	var name, numFriends;
	(function($) {
		$(document).bind("FBSDKLoaded", function() {
			FB.getLoginStatus(function(response) {
				if (response.status === "connected") {
					FB.api("/" + "<%= @user_id %>" +"/picture", {
						"redirect": false,
						"height": "200",
						"type": "normal",
						"width": "200"
					}, function(picResponse) {
						if (picResponse && !picResponse.error) {
							var picElement = document.getElementById("profile-pic");
							//create div for portfolio column
							var HTML =  '<img src='+
							picResponse.data.url+'>';
							picElement.innerHTML += HTML;
						}
					});
					FB.api("/" + "<%= @user_id %>", function (response) {
						if (response && !response.error) {
							name = response.first_name + " " + response.last_name;
							document.getElementById("profile-name").innerHTML += name;
						}
					});
					FB.api("/" + "<%= @user_id %>" + "/friends", function (response) {
						if (response && !response.error) {
							numFriends = response.summary.total_count;
							document.getElementById("friends-number").innerHTML += 
							name + " currently have <strong>" + numFriends + "</strong> Facebook friends and <strong>" +
							response.data.length + "</strong> Hello World friends";
						}
					});
				}
			});
		});
	})(jQuery);
</script>

<div id="wrapper">
	  <!-- Sidebar -->
	  <div id="sidebar-wrapper">
		   <ul class="sidebar-nav">
		       <li class="sidebar-brand">
		           <a href="#">
		               <div id="profile-pic"><h3 id="profile-name"></h3></div>
		           </a>
		       </li>
		       <li>
		           <a href="#recent-activity">Recent Activity</a>
		       </li>
		       <li>
		           <a href="#locations">Locations</a>
		       </li>
		       <li>
		           <a href="#friends">Friends</a>
		       </li>
		   </ul>
	  </div>
	  <!-- /#sidebar-wrapper -->

<!-- Page Content -->
	  <div id="page-content-wrapper">
		   <div class="container-fluid">
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
				<div class="row">
	           <div class="col-lg-12 page-section" id="recent-activity">
					<span class="glyphicon glyphicon-content glyphicon-time"></span>
					<h1>Recent activity</h1>
						<p id="last-location">
						You last went to
						!
						</p>
					<div class="container" id="gallery">
						<!--Content for image gallery-->
					</div>
	           </div>
		       </div>
				<hr>
				<div class="row">
		         <div class="col-lg-12 page-section" id="locations">
					<span class="glyphicon glyphicon-content glyphicon-globe"></span>
						<h1>Locations</h1>
					</div>
				</div>
				<hr>
				<div class="row">
		         <div class="col-lg-12 page-section" id="friends">
						<span class="glyphicon glyphicon-content glyphicon-user"></span>
						<h1>Friends</h1>
						<div id="friends-number"</div>
					</div>
				</div>
		   </div>
	  </div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
	$("#menu-toggle").click(function(e) {
	  e.preventDefault();
	  $("#wrapper").toggleClass("toggled");
	});
</script>
