	<div class="jumbotron">
		  <h1>Hello, world!</h1>
		  <p>Review your experiences!</p>
		  <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  How to
</button></p>
		</div>
			
		<div class="modal fade" id="myModal">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">
		        	View your experiences
		        	<span class="glyphicon glyphicon-camera"></span>
		        </h4>
		      </div>
		      <div class="modal-body">
		      	<p> Click on any picture to view</p>
		      	<!--Source from http://timeline.knightlab.com/-->
		        <!--iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AjRGop7a-JOJdGUxRHlmd0JuTU9za09Bblc2UVpLUVE&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe-->  	
					<div id="myFBImage"></div>
					<div id="my-timeline"></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<div class="progress">
		  <div class="progress-bar" style="width: 35%">
		    35%
		  </div>
		  <div class="progress-bar progress-bar-warning" style="width: 65%">
		    65%
		  </div>
		</div>
		<!--Display AmMaps javascript-->
		<div id="mapdiv"></div>
		<script>
		/*jQuery(function($) {
    var fqlUserId = '321662419491'; // the user id
    var fqlAlbumId = '305695';  // the album id
    var fqlQuery = "SELECT src_big, caption, src_small, src FROM photo WHERE owner = " + fqlUserId + " AND aid = '" + fqlUserId + '_' + fqlAlbumId + "'";
 
    $.getJSON("https://api.facebook.com/method/fql.query?format=json&callback=?&query=" + escape(fqlQuery), function(data) {
        for (var i = 0; i < data.length; i++) {
            jQuery('<img src="' + data[i].src_small + '" alt="' + data[i].caption + '" />').appendTo('body');
        }
    });
	});*/
	</script>
	
	<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
	<script>
	//Source for FB SDK Loaded from http://stackoverflow.com/questions/7747668/fb-is-undefined-even-though-i-just-used-it
		(function($) {
			$(document).bind("FBSDKLoaded", function() {
				FB.getLoginStatus(function(response) {
					if (response.status === "connected") {
						getPhotos();
					}
				});
			});
		})(jQuery);
		
		function getPhotos() {
			FB.api("/me/photos/uploaded",
				function(response) {
					console.log(response.data[0]);
					//<!-- BEGIN TimelineJS -->
						$(document).ready(function() {
							var photos = { 
								timeline: {
									headline: "Singapore trip",
									type: "default",
									text: "<p>album</p>",
									asset: {
										media: response.data[0].source
									},
									date: [
										{
											startDate: "2011,12,10",
											endDate: "2011,12,11",
											headline: response.data[0].name,
											text: "<p>Singapore photo</p>",
											asset: {
												media: response.data[0].source
											}
										}
									],
									era: [
										{
											startDate: "2011,12,10",
											endDate: "2011,12,11",
											headline: response.data[0].name,
											text: "<p>Singapore photo</p>",
											asset: {
												media: response.data[0].source
											}
										}
									],
								}
							};
							 createStoryJS({
								  type:       'timeline',
								  width:      '800',
								  height:     '600',
								  source:     photos,
								  embed_id:   'my-timeline'
							 });
							 //Will add loop to go to length and place new photo
							 console.log(photos["timeline"]["date"].length);
						});
				  //<!-- END TimelineJS -->
					//document.getElementById("myFBImage").innerHTML = "<img src=" + response.data[0].source + ">";
			});
		}
	</script>