.jumbotron {
	text-align: center;
}

.home-icon {
	padding-left: 50px;
	padding-right: 50px;
}
.navbar-nav {
	text-align: center;
	font-weight: bold;
}

.navbar-nav li {
	width: 150px;
}

body {
	padding-top: 50px;
}
