// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	text-align: center
}

#mapdiv {
	width: 100%;
	min-height: 720px;
}

.inner-item {
    text-align: center;
}

.carousel {
	overflow:hidden;
}

.inner-item > img {
	width: 100%;
	//margin-top: -15%;
	//margin-bottom: -15%;
	opacity: 0.6
}

.sandbox {
	padding-left: 50px;
	padding-right: 50px;
}

#upload-button {
	text-align: center;
	padding-top: 20px;
}

#introModal {
	padding-top: 15%;
}

#got-it {
	text-align: right;
}

#navigate-country {
	padding-top: 20px;
}

#placeholder {
	width: 100%;
	height: 200px;
	vertical-align: middle;
	text-align: center;
}

.placeholder-text {
	color: #999999;
}

#upload-location {
	width: 100%;
}

#upload-photo-form-file {
	padding-top: 10px;
	padding-bottom: 10px;
}

.modal-body {
	overflow: auto;
}

.well {
	height: 100%;
	overflow: hidden;	//portrait images will be cut to fit div
}

.well img {
	width: 100%;
}

.img-div {
	padding-bottom: 10px;
}

.btn-group {
	padding-bottom: 10px;
}

.select-countries {
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

#enlargedImageBody {
	text-align: center;
}

//#enlargedImageBody img {
	//width: 80%;
//}


.datepicker {
	z-index: 1051 !important;	//place in front of modal
}

#enlargedImage {
	background: rgba(0,0,0,0.8);
}

#commentsDiv {
	background: #FFFFFF;
	min-height: 100px;
}
