// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	text-align: center
}

#mapdiv {
	width: 100%;
	min-height: 720px;
}

.inner-item {
    text-align: center;
}

.carousel {
	overflow:hidden;
}

.inner-item > img {
	width: 100%;
	//margin-top: -15%;
	//margin-bottom: -15%;
	opacity: 0.6
}

.sandbox {
	padding-left: 50px;
	padding-right: 50px;
}

#introModal {
	padding-top: 15%;
}

#got-it {
	text-align: right;
}

#navigate-country {
	padding-top: 20px;
}
